body {

  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background-color: #0f0a58;
  overflow-x: hidden;
  overflow-y: auto;
}

.btn-download{
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  border-radius: 9px;
  background-color: rgb(56, 98, 134);
  backdrop-filter: blur(8.5px);
  box-shadow: 0 8px 32px 0 #29129d;
  
}
 
.bg-blur {
  background-color: rgb(56, 98, 134);
  backdrop-filter: blur(8.5px);
  box-shadow: 0 8px 32px 0 #29129d;
  border-radius: 5px;

}

.heading1 {
  font-family: "DM Serif", serif;
  font-size: 50px;
  color: #fff;
}

.heading2 {
  font-family: "DM Serif", serif;
  font-size: 35px;
  color: #fff;
}

.bodytext1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fff;
}

.bodytext2{
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
}
 
.progress {
  width: 145px;
  height: 27px;
  font-size: 11px;
  color: #fff;
  border-radius: 5px;
  position: relative;
}

.design-progress {
  width: 100px;
  height: 27px;
  background-color: rgb(8, 130, 41);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.development-progress{
  width: 80px;
  height: 27px;
  background-color: rgb(8, 130, 41);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.progress img,
.progress p {
  z-index: 10;
  position: relative;
}

.skills .card {
  width: 300px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.project h3 {
  color: aqua;
  font-size: 300;
  font-weight: 700;
}

.project p {
  color: azure;
  font-weight: 300;
  margin-top: -10px;
}

.card h3 {
  font-size: 19px;
  font-weight: 700;
  color: #fff;
}

.card p {
  color: #fff;
  font-size: 9px;
  font-weight: 300;
  margin-top: -10px;
}

.card .btn {
  width: auto;
  height: auto;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 9px;
  font-weight: 700;

  margin-top: -10px;
}

.text-section {
  flex: 1;
}

.about-details p {
font-size: 11px;
font-weight: 700;
color: azure;
margin-top: -10px;
}

.details a {
  font-size: 11px;
  font-weight: 700;
  color: azure;
  display: block;
}

.profile-image {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: 10px;
}

.profile-image img {
  width: 120px;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.4s ease;
  margin: 0;
}

.about-more.show .profile-image img {
  transform: translateY(10px);
}

.about-more {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.6s ease;
  border-radius: 5px;
}

.about-more.show {
  max-height: 500px;
  opacity: 1;
}

.about-more h3 {
  font-size: 19px;
  font-weight: 700;
  color: #fff;
}

.about-more p {
  color: #fff;
  font-size: 9px;
  font-weight: 300;

  margin-top: -10px;
}
.profesi {
  font-size: 11px;
  font-weight: 700;
  width: 172px;
  height: 38px;

  padding: 8px 8px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
}

.profesi-icon {
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  border-radius: 3px;
  line-height: 18px;
}
@media (max-width: 768px) {
 body,
  h1, h2, h3, h4 ,h5
  p,
  .heading1,
  .heading2,
  .project,
  .about-details,
  .profesi {
    text-align: center !important;
  }
  img {
    max-width: 90%;
    height: auto;5
    display: block;
    margin: 0 auto !important;
  }
}

